.vim
__pycache__
.vscode
.nvimlog
build
bin
cmake-build-debug
*.o
*.a
*.so
*.idea
*.pyc
*.user
resource/hmi_rc.py
ui/choose_style_dialog_ui.py
ui/cloth_style_dialog_ui.py
ui/dev_login_window_ui.py
ui/developer_widget_ui.py
ui/hand_eye_dialog_ui.py
ui/input_extra_param_widget_ui.py
ui/input_length_param_widget_ui.py
ui/input_tolerance_param_widget_ui.py
ui/lock_dialog_ui.py
ui/main_window_ui.py
ui/progress_bar_ui.py
ui/param_set_widget_ui.py
ui/style_display_widget_ui.py
ui/translate_dialog_ui.py
